.ContainerMain {
    padding: 105px 30px 100px 430px;
    line-height: 1.5;
    margin-bottom: 100px;
}

.Date {
    display: block;
    font-weight: bold;
    margin-bottom: 25px;
}

.ThumbsWrapper {
    display: flex;
    justify-content: space-between;
}

._Coloumn {
    width: 32%;
    position: relative;
}

._ColoumnField {
    position: relative;
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
}

._ColoumnFieldTitle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 22px;
    transition: opacity 5s ease-in-out;
    padding: 25px 10px 0 25px;
}

._ColoumnFieldTitle .pencilIcon {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility 5s ease-in-out;
    margin-left: 12px;
}

._ColoumnFieldTitle:hover .pencilIcon {
    visibility: visible;
    opacity: 1;
}

.pencilIcon__svg {
    margin: auto;
    fill: #B4B4B4;
}

._ColoumnFieldContent {
    position: relative;
    padding: 0 10px 30px 25px;
    height: 645px;
    overflow: auto;
}

._ColoumnEditPane.active {
    display: block;
}

._ColoumnEditPane__Button {
    border: none;
    background-color: #55AB80;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

._ColoumnEditPane__Button_simple {
    border: none;
    background-color: transparent;
    padding: 15px;
    font-size: 14px;
    color: #B4B4B4;
    margin-left: 5px;
}


.ThumbButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #55AB80;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 12px;
    color: #fff;
    width: 100%;
    margin-bottom: 6px;
}

._EditorButtons {
    display: none;
}

._EditorButtons.active {
    display: block;
}
