._Coloumn {
    width: 32%;
    position: relative;
}

._ThumbItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 20px;
    margin-bottom: 4px;
    font-size: 14px;
    /*width: 100%;*/
}

._ThumbItem_mid_w {
    width: 95%;
    margin-left: 5%;
}

._ThumbItem__img {
    margin-right: 10px;
}

._color {
    color: #f00;
}

._ThumbButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #55AB80;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 12px;
    color: #fff;
    width: 100%;
    margin-bottom: 6px;
}
