.IconItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.IconItem__img {
    opacity: 0.5;
    margin-bottom: 10px;
}

.IconItem__span {
    color: #fff;
    opacity: 0.5;
    font-size: 11px;
    text-align: center;
}

.IconItem__span:hover {
    opacity: 1;
}