._Field {
    display: none;
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 5px;
}

.active {
    display: block;
}

._Input {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding-left: 15px;
    margin-bottom: 15px;
}

._ButtonsWrap {
    display: flex;
}

._Button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #B4B4B4;
}

._Button_accept {
    color: #55AB80;
}
