._ColoumnEditPane__Label {
    display: block;
    font-size: 12px;
    color: #BBBBBB;
}

._ColoumnEditPane__Input {
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    height: 40px;
    border-radius: 4px;
    padding-left: 15px;
}

._ColoumnEditPane__Input:disabled {
    border: 0;
    padding-left: 0;
}

._ColoumnEditPane__Item:not(:last-child) {
    margin-bottom: 20px;
}

.ThumbField__item {
    margin-bottom: 13px;
}

.ThumbField__itemOption {
    display: block;
    font-size: 12px;
    color: #BBBBBB;
    margin-bottom: 10px;
}

.ThumbField__itemValue {
    font-size: 14px;
    margin-bottom: 0;
    color: #31393C;
}

