.Product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 17px;
    color: #383D3E;
}

.Product:not(:last-child) {
    border-bottom: 1px solid #DBDBDB;
}

.Product:hover {
    background-color: rgba(85, 171, 128, 0.15);
}

.Product:first-child {
    border-radius: 4px 4px 0 0;
}

.Product:last-child {
    border-radius: 0 0 4px 4px;
}

.ProductButtons {
    display: flex;
}

.Product__Button:focus {
    outline: none;
}

.Product__Name {
    cursor: pointer;
    display: block;
    width: 100%;
}

.Product__Name.hide {
   display: none;
}

.Product__Input.block {
    display: block;
}

.Product__Button {
    background-color: transparent;
    border: none;
}

.Product__Button:not(:last-child) {
    margin-right: 10px;
}

.Product__Button:hover .Icon__svg {
    fill: #55AB80;
}

.Product .Icon {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility 5s ease-in-out;
}

.Product:hover .Icon {
    visibility: visible;
    opacity: 1;
}

.Icon__svg {
    margin: auto;
    fill: #B4B4B4;
}

.Product__Input {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    height: 40px;
    border-radius: 4px;
    padding-left: 15px;
}

.Icon__svg:hover {
    fill: #55AB80;
}

._ColoumnEditPane__Button {
    border: none;
    background-color: #55AB80;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

._ColoumnEditPane__Button_simple {
    border: none;
    background-color: transparent;
    padding: 15px;
    font-size: 14px;
    color: #B4B4B4;
    margin-left: 5px;
}

._Coloumn {
    width: 32%;
    position: relative;
}

.ThumbButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #55AB80;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 12px;
    color: #fff;
    width: 100%;
    margin-bottom: 6px;
}